body{
    background-color: antiquewhite;
}


#container{
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    background-color: hsl(180, 100%, 40%);
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
button:hover{
    background-color: hsl(180, 100%, 60%);
}
button:active{
    background-color: hsl(180, 100%, 70%);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

#diceresult{
    margin: 25px;
}

#diceimages img{
    width: 180px;
    margin: 5px;
}
